{% extends '_base.html' %}
{% block content %}
    <header class="page__header" role="banner">
        <h1 class="page__title">scrollnav.js Standard Demo</h1>
    </header>

    <div class="row" role="main" >

        <article class=" col-md-8 post__article">
            <h1>Accumsan</h1>
            <p>Sit nostra velit vehicula nonummy rhoncus est facilisis sem suspendisse. Arcu magna nonummy. Per placerat
                taciti posuere gravida maecenas class a auctor arcu eros. Posuere litora arcu fermentum Consectetuer et
                dapibus fringilla. Molestie maecenas varius curabitur eu justo tristique ridiculus congue diam odio. Cum
                rhoncus integer nunc magna facilisis, nulla eros metus pharetra Placerat duis ligula ridiculus nulla
                Orci urna facilisi facilisi nullam.</p>

            <p>Nunc porta congue urna sapien. Hendrerit dolor turpis blandit justo venenatis laoreet felis. Morbi tempor
                volutpat sociosqu nam nunc amet posuere accumsan turpis venenatis tristique molestie molestie duis nam
                egestas vivamus nulla nulla curae; justo a <strong>potenti</strong> sed erat nibh <em>vulputate</em>
                nisl sit posuere. Consequat ac, hymenaeos Magnis hendrerit fames arcu quis taciti malesuada blandit sed
                pede id convallis vestibulum, nonummy etiam at. Venenatis ante vivamus.</p>

            <p>Natoque iaculis mus metus est aptent sed, habitasse, arcu hendrerit fringilla primis eros penatibus
                parturient. At eget hendrerit magnis at. Montes luctus pede, metus eget curae; sociosqu ultrices euismod
                condimentum. Euismod et congue vitae. Auctor eleifend hymenaeos nonummy lorem nascetur laoreet
                cursus.</p>

            <p>Interdum velit quisque sociosqu nostra dis at fusce sociis netus sem et sociis nec rhoncus torquent ut
                pharetra feugiat ante senectus morbi adipiscing, duis nonummy nonummy. Ridiculus mauris lacinia egestas
                nostra urna sociosqu habitasse. Lacus ullamcorper sodales condimentum nam sem porta blandit congue.
                Ultrices, pellentesque. Laoreet massa penatibus. Egestas mattis <em>ullamcorper</em> accumsan mauris
                ante augue diam eu turpis.</p>

            <p>Taciti dignissim aliquet, sociosqu dis sollicitudin vestibulum euismod lorem dignissim vel etiam mus
                libero hymenaeos cum, lectus vitae Facilisis taciti quam metus magna mattis arcu justo magnis justo
                parturient sodales rhoncus. Ante facilisis augue ullamcorper duis pede scelerisque eros dignissim risus
                auctor libero luctus hac tellus per a netus commodo diam semper imperdiet dolor vivamus. Primis dis sem
                arcu euismod sem convallis eget faucibus. Pulvinar etiam at eros vitae magnis.</p>

            <h2>Cum penatibus iaculis.</h2>
            <p>Volutpat <strong>id viverra aliquet</strong> ultrices. Taciti <em>bibendum</em> venenatis ipsum ligula
                ultrices natoque, eu interdum inceptos interdum iaculis fusce ad egestas quis diam justo pharetra nisl
                mattis, adipiscing. Tortor ornare enim ligula dictumst. Vestibulum penatibus iaculis. Lectus diam
                taciti, lobortis ornare rutrum ligula id vulputate cubilia platea tortor et dictumst dignissim
                sollicitudin ut. Eu molestie turpis proin sit nisl. Metus nec litora iaculis lobortis porta rutrum
                ornare, luctus. Hendrerit. Consequat, accumsan nullam blandit pharetra fringilla sodales vel.</p>

            <h2>Erat Primis Tellus</h2>
            <p>Turpis morbi augue sed montes varius aptent lacinia sem, amet at tempor ipsum interdum morbi quisque
                taciti, fames posuere netus tellus Taciti maecenas molestie. Egestas fusce Euismod turpis nascetur est
                aliquet nullam facilisi ultricies, consequat. Ultricies vitae scelerisque. Dui proin semper fringilla,
                fringilla blandit vehicula elementum cubilia proin habitant mus augue at arcu scelerisque. Litora
                scelerisque lobortis vel varius auctor enim sit vitae. Pretium parturient <em>suscipit aenean
                    fringilla</em> convallis dis ultricies scelerisque nisi erat ad mollis vel blandit Habitant eleifend
                molestie tristique.</p>

            <h2>Turpis Tempus Purus Duis</h2>
            <p>Convallis aptent mi, metus, est <strong>faucibus netus vestibulum</strong> faucibus <em>netus</em> fusce
                dui curabitur justo tristique <strong>maecenas</strong> imperdiet nunc praesent. Varius curabitur pede
                torquent imperdiet laoreet purus risus malesuada <em>at</em> sodales purus fringilla congue magna
                tempus. Amet est nonummy suspendisse dolor duis, hac suscipit convallis dictum, convallis, est
                sollicitudin egestas Imperdiet et euismod mollis, ante interdum faucibus hymenaeos.</p>

            <h2>Mus Suspendisse</h2>
            <p>Tempor. Aliquam est curae; ullamcorper, sem pede <em>dolor</em> laoreet nascetur, lacinia nascetur amet
                platea class parturient pellentesque viverra pretium fusce, ligula nisl hymenaeos Urna ornare dictumst
                enim. Dapibus porta volutpat, diam. <em>Mauris</em> habitant ullamcorper. Sociosqu taciti accumsan et
                tempor risus massa velit dictumst. Feugiat elementum. Laoreet ultricies parturient, habitasse. Feugiat.
                Consequat commodo id <em>nam</em> nisl habitant <em>aliquam</em> sem ac vel.</p>

            <p>Blandit. Lorem. Lectus. Parturient sociis ac laoreet. Cubilia, rutrum magnis ornare viverra. Adipiscing
                sociis erat Euismod molestie luctus parturient adipiscing pharetra interdum, tincidunt. Senectus
                ullamcorper posuere urna <strong>sollicitudin</strong> nec habitasse. Vulputate quis lacinia magnis
                varius magna tempor ac vivamus at, netus molestie urna. Imperdiet. Pellentesque <em>lacus</em>
                scelerisque sollicitudin penatibus ultrices id. Morbi.</p>

            <p>Mi. Tortor libero turpis dolor. A pellentesque velit <strong>dolor</strong> dis massa elit lectus lectus,
                sodales et dui penatibus. Convallis vehicula dignissim netus commodo amet facilisi. Hendrerit quisque
                varius venenatis tempus ut aptent, semper, ridiculus habitant integer quis interdum adipiscing justo in
                venenatis condimentum ornare at nostra nullam.</p>

            <p>Arcu netus adipiscing, ad rutrum <strong>litora</strong> tristique vehicula. Curae; ligula nibh ornare.
                Vehicula aptent sit. Rutrum, integer. Leo, eleifend maecenas cum accumsan volutpat facilisi ligula. Ac
                lacus Pede.</p>

            <p>Tempor vel mauris elit, quisque per eget etiam. Est. Sem dictum pellentesque eu mauris eu. Amet placerat
                potenti commodo. <strong>Potenti</strong> vulputate lectus taciti. Duis. Non. Faucibus id augue
                convallis accumsan accumsan. Rhoncus condimentum. Vivamus tellus hendrerit nibh facilisi purus netus.
                Montes dapibus orci. Tristique.</p>

            <h2>Metus Dictum Luctus Eget Nonummy</h2>
            <p>Luctus. Facilisi Penatibus aptent hendrerit dis erat cursus proin. Nulla dapibus aliquet volutpat Orci
                ipsum urna semper volutpat fames habitant <strong>velit</strong> vulputate risus consequat rutrum mi
                tristique rhoncus diam. Volutpat fusce mattis mi non venenatis faucibus orci <strong>dignissim</strong>
                sollicitudin eget euismod egestas consequat pretium nisi aptent feugiat ultricies feugiat lorem donec
                phasellus egestas suscipit fusce.</p>

            <p>Convallis, purus fermentum, tellus. Cras. Quam consectetuer porttitor rutrum commodo magna Vivamus
                turpis. Leo dui hac. Dapibus. Tellus. Libero. <strong>Neque</strong> nibh ac dignissim consectetuer
                netus fames cubilia commodo. Senectus mattis. Donec consectetuer nam. Ligula imperdiet suscipit
                malesuada sociis scelerisque morbi sed ipsum. Tellus pellentesque volutpat maecenas platea habitasse est
                eget urna integer ad. Curabitur porta ligula facilisis pede ornare diam justo congue, lectus bibendum
                ipsum convallis bibendum scelerisque suscipit pretium phasellus <em>dui</em> imperdiet.</p>

            <h2>Tortor</h2>
            <p>Elementum egestas nam. Eleifend auctor faucibus tempus condimentum, ultricies fringilla pharetra,
                curabitur blandit. Maecenas. Purus torquent magna varius eget lobortis morbi neque ornare penatibus.
                Magnis mauris lacus euismod nunc maecenas diam, ultricies faucibus commodo rhoncus justo felis eros
                cubilia lorem sollicitudin nec, curae; tincidunt. Libero natoque. Maecenas <em>sociosqu</em> placerat
                fusce hac per Aliquet. Purus viverra parturient rutrum, ullamcorper posuere rutrum magna imperdiet
                curabitur platea habitasse.</p>

            <p>Sit risus risus primis netus. Rhoncus praesent at vitae pretium. Primis posuere, lectus sed
                <em>vehicula</em> inceptos ut. Litora morbi lectus. Eget diam. Aptent vivamus dolor tempus ridiculus et
                sit sapien posuere morbi suspendisse. Vel orci ante quisque euismod tempus eleifend. Cras tempor
                pharetra eleifend lacinia convallis purus curabitur ad volutpat hendrerit at placerat vel convallis orci
                fermentum facilisis pharetra platea orci amet. Elementum Lacinia Cras quam vulputate sociis. Malesuada
                leo at duis dictum molestie parturient. Hac aliquam eget morbi.</p>

            <p>Ante dictum <strong>elit</strong> aliquet pede ullamcorper dolor ad proin facilisi tristique vestibulum
                nonummy elit Quis nunc. Eget nulla adipiscing ipsum. Taciti, arcu. Viverra nam arcu elementum aenean
                magna nullam aenean varius porttitor cum accumsan congue mus mattis sollicitudin nullam tempor integer
                ultrices justo hymenaeos Libero augue erat et fames eu hymenaeos condimentum feugiat et ipsum.
                Ullamcorper.</p>

            <p>Mus potenti porta semper, urna <em>mi</em> elementum curae; <em>congue</em> est pulvinar varius cras
                platea massa metus facilisis ipsum <em>adipiscing</em> dolor sollicitudin <strong>sollicitudin</strong>
                turpis, <strong>malesuada</strong> consequat. Elit id arcu maecenas quisque pulvinar.</p>

            <h2>Vestibulum Cursus Quis Molestie</h2>
            <p>Laoreet quisque urna iaculis lobortis curabitur ultricies in Donec ultrices integer sollicitudin Cum
                fringilla integer vulputate nam arcu, duis neque. Neque commodo <em>morbi</em> eros nullam leo sociosqu
                nec tortor hendrerit penatibus magna dis, nam, ipsum ornare et venenatis habitasse dui luctus feugiat.
                Per praesent purus nisl vitae ligula fermentum integer non non non imperdiet hac dictum rutrum nisi
                porttitor justo tellus dapibus duis erat lobortis facilisis dignissim.</p>

            <p>Cubilia tincidunt pulvinar purus tempus fermentum cubilia vitae commodo suscipit montes viverra urna
                posuere donec amet tempus penatibus <strong>rutrum</strong> <em>dictum</em> nam quisque ut hendrerit
                ligula parturient. Dapibus nam facilisis arcu est mus quis, class curabitur enim suspendisse nonummy
                posuere <strong>interdum</strong> <em>interdum</em> <strong>nibh</strong> sagittis vel sed nibh eleifend
                sagittis curabitur nisi ut tempus Malesuada mi mollis aliquam hac nisl iaculis ultrices.</p>

            <p>Ultricies magnis natoque phasellus luctus tristique blandit phasellus nulla lobortis, ad sem ad ultricies
                Pede taciti amet penatibus vehicula et arcu ante eros lacinia dolor, sed ligula. Non conubia. Eget
                torquent interdum egestas non euismod pulvinar montes <strong>lorem</strong> suscipit viverra felis
                inceptos leo quis pharetra fringilla. Ultrices urna venenatis. Fringilla elementum ridiculus. Dis
                parturient rutrum tristique mauris odio dapibus habitant. Maecenas integer.</p>

            <p>Nisi inceptos. Tortor. Nascetur. Tellus <em>tempus</em> curabitur ligula, eros arcu potenti sociis amet
                class penatibus natoque ridiculus <strong>quam</strong> libero, magnis eleifend dui commodo et.
                Dignissim ultricies pharetra nostra mi pretium luctus nulla ullamcorper tellus <em>aliquam</em> potenti
                vulputate. Accumsan habitasse velit ac metus ornare. Nonummy duis leo. Diam.</p>

            <p>Netus. Mi praesent. Magnis convallis. Vitae <em>ultrices</em> <em>aliquet</em> vivamus sagittis
                elementum. Tempor libero quam per iaculis lorem nibh. Tincidunt vel. Quisque mauris augue donec eget
                <strong>parturient</strong> est commodo condimentum in <strong>curae;</strong> gravida fusce senectus
                <strong>pede</strong> et libero penatibus per sodales facilisis <strong>nulla</strong>
                <strong>ante</strong> tempus Natoque accumsan <strong>parturient</strong> quisque magna aptent etiam.
                Facilisi dapibus dictumst nisl curabitur dapibus <strong>purus</strong> per ornare hac urna lectus
                commodo.</p>

            <p>Suspendisse ridiculus. Hac senectus suspendisse erat <em>primis</em> pellentesque ante suspendisse.
                Consectetuer feugiat quam dapibus tristique natoque senectus ornare ultrices class montes fusce.
                Egestas. Molestie. Ac, aliquet sociosqu euismod <em>ultrices</em> vulputate.</p>

            <p>Viverra purus pretium. Ridiculus dolor dictum varius tincidunt Diam massa. Tempor sodales. Condimentum.
                Ac natoque gravida suspendisse lectus habitasse tempor malesuada montes ornare aenean. Ullamcorper cras
                sagittis penatibus fermentum platea malesuada tempus dolor egestas nec quisque amet justo potenti
                semper. Neque ut blandit, arcu gravida maecenas taciti massa ornare, commodo blandit lacinia vivamus
                vestibulum, pretium nascetur tempor primis taciti, nisl aliquam. Nunc. Nec et.</p>
        </article>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        const content = document.querySelector('.post__article');

        scrollnav.init(content, {
            debug: false
        });
    </script>
{% endblock %}